<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Dreams LMS</title>

  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.svg">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">

  <link rel="stylesheet" href="/assets/plugins/feather/feather.css">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="main-wrapper log-wrap">
  <div class="row">

    <div class="col-md-6 login-bg">
      <div class="owl-carousel login-slide owl-theme">
        <div class="welcome-login">
          <div class="login-banner">
            <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>DreamsLMS Courses.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
        <div class="welcome-login">
          <div class="login-banner">
            <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>DreamsLMS Courses.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
        <div class="welcome-login">
          <div class="login-banner">
            <img src="assets/img/login-img.png" class="img-fluid" alt="Logo">
          </div>
          <div class="mentor-course text-center">
            <h2>Welcome to <br>DreamsLMS Courses.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 login-wrap-bg">

      <div class="login-wrapper">
        <div class="loginbox">
          <div class="w-100">
            <div class="img-logo">
              <img src="assets/img/logo15.png" class="img-fluid" alt="Logo">
              <div class="back-home">
                <a href="index.html">Back to Home</a>
              </div>
            </div>
            <h1>Sign into Your Account</h1>
            <form [formGroup]="authForm">

              <div class="input-block">
                <mat-form-field class="custom-input-width">
                  <mat-label>Enter Email/Identifiant</mat-label>
                  <input type="email" matInput   formControlName="username"
                         placeholder="Ex. pat@example.com">
                  <mat-hint>Errors appear instantly!</mat-hint>

                  <mat-error *ngIf="authForm.controls['username'].hasError('username') && !authForm.controls['username'].hasError('required')">
                    Please enter a valid email address
                  </mat-error>

                  <mat-error *ngIf="authForm.controls['username'].hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="input-block">
                <mat-form-field class="custom-input-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput  formControlName="password"
                         placeholder="enter your password">
                  <mat-hint>Errors appear instantly!</mat-hint>



                  <mat-error *ngIf="authForm.controls['password'].hasError('required')">
                    password is <strong>required</strong>
                  </mat-error>





                </mat-form-field>

              </div>
              <button mat-button type="submit" (click)="authenticate()"
                      [disabled]=" authForm.invalid">Sign in </button>
              <div class="forgot">
     <span>
       <a   class="forgot-link"    >Forgot Password ?</a>
   </span>
              </div>



              <div class="alert alert-primary" role="alert" *ngIf="message">
                <div class="success-message">{{ message }}</div>
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="error">
                <div class="error-message">{{ error }}</div>
              </div>

              <div class="google-bg text-center">

                <p class="mb-0">you don't have an account? <a routerLink="/register">Sign up</a></p>
              </div>
            </form>

          </div>
        </div>
        <div class="google-bg text-center">

          <span><a href="#">Or sign in with</a></span>
          <div class="sign-google">
            <ul>
              <li><a href="#"><img src="assets/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign In using Google</a></li>
              <li><a href="#"><img src="assets/img/net-icon-02.png" class="img-fluid" alt="Logo">Sign In using Facebook</a></li>
            </ul>
          </div>
          <p class="mb-0">New User ? <a href="register.html">Create an Account</a></p>
        </div>
      </div>

    </div>
  </div>
</div>

<script data-cfasync="false" src="/assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/js/jquery-3.7.1.min.js" type="f45ebdc1482cb56c8029d768-text/javascript"></script>

<script src="/assets/js/bootstrap.bundle.min.js" type="f45ebdc1482cb56c8029d768-text/javascript"></script>

<script src="/assets/plugins/select2/js/select2.min.js" type="f45ebdc1482cb56c8029d768-text/javascript"></script>

<script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="f45ebdc1482cb56c8029d768-text/javascript"></script>
<script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="f45ebdc1482cb56c8029d768-text/javascript"></script>

<script src="/assets/js/script.js" type="f45ebdc1482cb56c8029d768-text/javascript"></script>
<script src="/assets/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="f45ebdc1482cb56c8029d768-|49" defer></script></body>
</html>
