<div class="main-wrapper">



  <div class="breadcrumb-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="breadcrumb-list">
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Pages</li>
                <li class="breadcrumb-item" aria-current="page">Blog Masonry</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="course-content">
    <div class="container">
      <div class="row masonry-blog-blk">
        <div class="col-lg-4 col-md-6">

          <div class="blog grid-blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-08.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-grid-box masonry-box">
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Jun 14, 2022</li>
                    <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>Programming, Web Design</li>
                  </ul>
                </div>
              </div>
              <h3 class="blog-title"><a href="blog-details.html">Learn Webs Applications Development from Experts</a></h3>
              <div class="blog-content blog-read">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                <a href="blog-details.html" class="read-more btn btn-primary">Read More</a>
              </div>
            </div>
          </div>


          <div class="blog grid-blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-11.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-grid-box masonry-box">
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Sep 18, 2022</li>
                    <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>Programming, Courses</li>
                  </ul>
                </div>
              </div>
              <h3 class="blog-title"><a href="blog-details.html">Programming Content Guideline For Beginners</a></h3>
              <div class="blog-content blog-read">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                <a href="blog-details.html" class="read-more btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-6">

          <div class="blog grid-blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-09.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-grid-box masonry-box">
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>May 24, 2022</li>
                    <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>Programming, Courses</li>
                  </ul>
                </div>
              </div>
              <h3 class="blog-title"><a href="blog-details.html">Expand Your Career Opportunities With Python</a></h3>
              <div class="blog-content blog-read">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                <a href="blog-details.html" class="read-more btn btn-primary">Read More</a>
              </div>
            </div>
          </div>


          <div class="blog grid-blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-09.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-grid-box masonry-box">
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>May 24, 2022</li>
                    <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>Programming, Courses</li>
                  </ul>
                </div>
              </div>
              <h3 class="blog-title"><a href="blog-details.html">Expand Your Career Opportunities With Python</a></h3>
              <div class="blog-content blog-read">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                <a href="blog-details.html" class="read-more btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-6">

          <div class="blog grid-blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-10.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-grid-box masonry-box">
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Jun 14, 2022</li>
                    <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>Programming, Web Design</li>
                  </ul>
                </div>
              </div>
              <h3 class="blog-title"><a href="blog-details.html">Complete PHP Programming Career Guideline</a></h3>
              <div class="blog-content blog-read">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                <a href="blog-details.html" class="read-more btn btn-primary">Read More</a>
              </div>
            </div>
          </div>


          <div class="blog grid-blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog/blog-13.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-grid-box masonry-box">
              <div class="blog-info clearfix">
                <div class="post-left">
                  <ul>
                    <li><img class="img-fluid" src="assets/img/icon/icon-22.svg" alt>Feb 14, 2022</li>
                    <li><img class="img-fluid" src="assets/img/icon/icon-23.svg" alt>Programming, Courses</li>
                  </ul>
                </div>
              </div>
              <h3 class="blog-title"><a href="blog-details.html">Learn Mobile Applications Development from Experts</a></h3>
              <div class="blog-content blog-read">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Sed egestas, ante et vulputate volutpat, eros pede […]</p>
                <a href="blog-details.html" class="read-more btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="load-more text-center">
        <a href="javascript:void(0);" class="btn btn-primary">Load More</a>
      </div>

    </div>
  </section>


</div>
